.hero-wrapper {
  height: 300px;
  background-image: url("/assets/images/hero-about.jpg");
}
.text-small {
  font-size: 13px;
}

.wrapper-kehidupan {
  height: 40vh;
  background-image: url("/assets/images/kehidupan/taman.png");
}

.wa-melayang {
  position: fixed;
  right: 20px;
  bottom: 100px;
}

.wa-klik {
  display: flex;
  background-color: green;
  width: 50px;
  height: 50px;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 22px;
}
